# Weight Height Dataset
resource : https://www.kaggle.com/datasets/burnoutminer/heights-and-weights-dataset

In [1]:
#Import Modules
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
#Import Dataset
df = pd.read_csv("datasets/weight-height.csv")

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#Merubah data kategori pada kolom gender menjadi data numerik 
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

df['Gender']=lb.fit_transform(df["Gender"])

**Data manipulation** <br>
Membuat data Height dan Weight menjadi berbentuk Kilogram(KG) dan Centimeter(CM)

In [5]:
df['Height']= df['Height']*2.54
df['Weight']= df['Weight']*0.453592

In [6]:
df.head()

   Gender      Height      Weight
0       1  187.571423  109.720985
1       1  174.706036   73.622732
2       1  188.239668   96.497550
3       1  182.196685   99.809504
4       1  177.499761   93.598619

In [7]:
#Membuat Variabel X dan Y 
x = df.iloc[:, :-1] # kolom 'Gender' dan 'Height'
y = df.iloc[:, -1] # kolom 'Weight'

## Training Model

In [8]:
#Membagi data training dan data test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
#Membuat model dengan regresi linier
from sklearn.linear_model import LinearRegression
clf= LinearRegression()
model= clf.fit(X_train,y_train)

In [10]:
#Menampilkan hasil prediksi
y_pred=clf.predict(X_test)
y_pred

array([64.38207212, 80.08465578, 99.68970675, ..., 68.02578026,
       75.67445389, 62.99458788])

## Menghitung akurasi model

In [11]:
accuracy = model.score(X_test, y_test)

In [12]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.52889824534557%

## Menyimpan Model

In [15]:
import joblib

In [16]:
joblib.dump((model), "weight-height-linier-regression.pkl")

['weight-height-linier-regression.pkl']