# Klasifikasi Bunga Iris

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv("datasets/weight-height.csv")

In [4]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['Gender']=lb.fit_transform(df["Gender"])

In [6]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [21]:
std_scaler = StandardScaler()

df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])

In [22]:
df.head()

   Gender    Height      Weight
0  0.9999  1.943597  241.893563
1  1.0000  0.627537  162.310473
2  1.0000  2.012444  212.740856
3  1.0000  1.394061  220.042470
4  1.0000  0.913421  206.349801

In [11]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

## Training Model

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [13]:
from sklearn.linear_model import LinearRegression
clf= LinearRegression()
model= clf.fit(X_train,y_train)

In [14]:
y_pred=clf.predict(X_test)
y_pred

array([141.93828842, 176.55658781, 219.77836195, ..., 149.97129636,
       166.83374903, 138.87940678])

In [15]:
accuracy = model.score(X_test, y_test)

In [16]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.52889824534557%

In [17]:
from sklearn.metrics import r2_score
print(r2_score(y_pred,y_test))

0.8942026073927822

## Menyimpan Model dan Scaler

In [20]:
import joblib

In [21]:
joblib.dump((model, x), "weight-height-linier-regression.pkl")

['weight-height-linier-regression.pkl']